<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Net Trial Balance{% endtrans %}</title>
	<style type="text/css">
	 .shadow {
	     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 }
	 #ntbtable td {
	     font-size: 75%;
	     padding: 4 !important;
	     margin: 4 !important;
	 }

	 #ntbtable th {
	     font-size: 85%;
	 }
	 .card-view .title {
	     font-weight: bold;
	     display: inline-block;
	     min-width: 30%;
	     text-align: left !important;
	 }

	 #ntbtable tbody {
	     display:block;
	     height: calc(69vh);
	     overflow-y:scroll;
	 }
	 #ntbtable thead,#ntbtable tbody tr {
	     display:table;
	     width:100%;
	     table-layout:fixed;
	 }
	 #ntbtable thead {
	     width: calc( 99.1% )
	 }
	 .ralign{
	     text-align:right;

	 }
	 .cred{
	     color:red;
	 }
	 .calign{
	     text-align:center;
	 }
	 .smwrap{
	     width:3%
	 }
	 .smwrap1{
	     width:2.4%
	 }

	 .mdwrap{
	     width:6%
	 }
	 .lngwrap{
	     width:22%
	 }
	 .ewrap{
	     width:8%
	 }

	</style>
</head>
<body>
  <div class="col-xs-10 nopadding">
    <span style="margin-left:40%; display:table;"><strong>{% trans %}Net Trial Balance{% endtrans %}</strong> {% trans %}for the period from{% endtrans %} <strong>{{from}}</strong> {% trans %}to{% endtrans %} <strong>{{to}}</strong></span>
  </div>
  <div class="float-right input-group input-group-sm" style="margin-bottom:2px;">
    <span class="input-group-addon glyphicon glyphicon-search" id="reportsearchspan">
    </span>
    <input id="reportsearch" class="form-control" type="text" accesskey="s" placeholder="{% trans %}Quick Search{% endtrans %}"/>
    <span class="input-group-addon glyphicon glyphicon-arrow-left" id="reportclearsearchspan" style="display:none;">
    </span>
  </div>
	<div class="row">
		<table id="ntbtable" class="table shadow table-bordered trialbaltable" >
			<button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px;display:none;" id="ntbclearfields">{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
			<thead class="bg-primary">
				<tr>
					<th class="smwrap1 calign">{% trans %}Sr.No.{% endtrans %}</th>
					<th class="lngwrap">{% trans %}Account Name{% endtrans %}</th>
					<th class="mdwrap ralign">{% trans %}Debit{% endtrans %}</th>
					<th class="mdwrap ralign">{% trans %}Credit{% endtrans %}</th>
					<th class="ewrap calign" >{% trans %}Group Name{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for record in records %}
				<tr	data-value="{{record['accountcode']}}">
					<td class="smwrap1 calign">
						{{record['srno']}}
					</td>
					<td class="lngwrap">
						{% if record['srno']!="" %}
							<a class="accname" href="">{{record['accountname']}}</a>
						{% else %}
						{% if record['accountname']=="" %}
						<a class="accname" href="">&nbsp</a>
						{% else %}
						<a class="accname" href="" style="text-decoration: none;">{{record['accountname']}}</a>
						{% endif %}
						{% endif %}
					</td>

					{%if record["advflag"]==1%}
					<td class="mdwrap  ralign cred">
						<b>{{record["Dr"]}}</b>
					</td>
					<td class="mdwrap ralign cred" >
						<b>{{record["Cr"]}}</b>
					</td>
					{%else%}
					<td class="mdwrap ralign" >
						{{record["Dr"]}}
					</td>
					<td class="mdwrap ralign">
						{{record["Cr"]}}
					</td>
					{%endif%}
					<td class="ewrap calign">
						{{record["groupname"]}}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<span style="margin:auto; display:table;">
	  <button type="button" class="btn btn-sm btn-danger" id="tbback" accesskey="k"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}Bac<u>k</u>{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-primary" id="gtbview" accesskey="g">{% trans %}<u>G</u>ross Trial Balance{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info" id="extbview" accesskey="e">{% trans %}<u>E</u>xtended Trial Balance{% endtrans %}</button>

		<button type="button" class="btn btn-sm btn-primary" id="printbutton" accesskey="x"><i class="fa fa-file-excel-o" aria-hidden="true"></i> {% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
	</span>
	<input type="hidden" id="ledtodate" value="{{to}}">
	<input type="hidden" id="trialbaltype" value="{{trialbalancetype}}">
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/trialbalancereport.js')}}"></script>
</body>
</html>
